# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Poetry
poetry.lock

# IDEs
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database
*.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# OS-specific
.DS_Store

# Linter/Formatter cache
.ruff_cache/
